body{
  height: 100%;
}

main{
  margin:0;
}

form{
  margin: auto
}

.hide{
  display: none;
}

.flexing{
  display: flex;
}

.heading {
  padding:32px;
}

.list-group{
  padding-left: 16px;
}

aside{
  margin-left: 2rem;
}

@media  (max-width:1090px){
  body{
    display: flex;
    flex-direction: column;
  }
}